**/.bsp
**/.ammonite
**/.vscode
**/.scala-build
**/.metals/*

**/*/.bsp
**/*/.ammonite
**/*/.vscode
**/*/.scala-build
**/*/.metals/*

.bsp/
.ammonite/
.vscode/
.scala-build/
.metals/

**/.DS_Store
.DS_Store