**/.bsp
**/.ammonite
**/.vscode
**/.scala-build
**/.metals/*

**/*/.bsp
**/*/.ammonite
**/*/.vscode
**/*/.scala-build
**/*/.metals/*

**/*/__pycache__
**/__pycache__
__pycache__

.bsp/
.ammonite/
.vscode/
.scala-build/
.metals/

**/.DS_Store
.DS_Store

**/.venv
.venv

**/*/Interviews
Interviews/**
Interviews
